@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');
body{
    font-family: 'Roboto';
    background-color: #BF9775;
    color: aliceblue;
    }
    fieldset{
        width: 30%;
    }
    